services:
  blinko:
    image: blinkospace/blinko:latest
    container_name: blinko
    restart: always
    ports:
      - "1111:1111"
    x-casaos:
      architectures:
        - amd64
        - arm64
      main: blinko
      description:
        en_us: Blinko is a self-hostable, open-source, and end-to-end encrypted note-taking/journaling application.
        tr_tr: Blinko, kendi sunucunuzda barındırabileceğiniz, açık kaynaklı ve uçtan uca şifreli bir not alma/günlük tutma uygulamasıdır.
      tagline:
        en_us: Self-hostable, open-source, E2E encrypted note-taking app.
        tr_tr: Kendi kendine barındırılan, açık kaynaklı, E2EE not alma uygulaması.
      developer: "blinkospace"
      author: "canfiratx"
      icon: "https://raw.githubusercontent.com/blinkospace/blinko/main/public/logo-blinko.png"
      thumbnail: ""
      title:
        en_us: Blinko
      category: "Productivity"
      port_map: "1111"