name: blinko
services:
  blinko:
    image: blinkospace/blinko:latest
    container_name: blinko
    restart: always
    depends_on:
      blinko-db:
        condition: service_healthy
    environment:
      NODE_ENV: production
      NEXTAUTH_URL: http://192.168.68.108:1111
      NEXT_PUBLIC_BASE_URL: http://192.168.68.108:1111
      NEXTAUTH_SECRET: a-very-secret-and-long-string-for-casaos
      DATABASE_URL: postgresql://postgres:mysecretpassword@blinko-db:5432/postgres
    ports:
      - target: 1111
        published: "1111"
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/blinko/data
        target: /app/.blinko

  blinko-db:
    image: postgres:14
    container_name: blinko-db
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    volumes:
      - type: bind
        source: /DATA/AppData/blinko/postgres
        target: /var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      interval: 5s
      timeout: 10s
      retries: 5

x-casaos:
  architectures:
    - amd64
    - arm64
  main: blinko
  author: "canfiratx"
  category: "Productivity"
  description:
    en_us: Blinko is a self-hostable, open-source, and end-to-end encrypted note-taking/journaling application.
    tr_tr: Blinko, kendi sunucunuzda barındırabileceğiniz, açık kaynaklı ve uçtan uca şifreli bir not alma/günlük tutma uygulamasıdır.
  developer: "blinkospace"
  icon: "https://raw.githubusercontent.com/blinkospace/blinko/main/public/logo-blinko.png"
  tagline:
    en_us: Self-hostable, open-source, E2E encrypted note-taking app.
    tr_tr: Kendi kendine barındırılan, açık kaynaklı, E2EE not alma uygulaması.
  title:
    en_us: Blinko
  port_map: "1111"
