services:
  blinko-website:
    image: ghcr.io/blinkospace/blinko-website:latest
    container_name: blinko-website
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      NODE_ENV: production
      NEXTAUTH_URL: http://localhost:1111
      NEXT_PUBLIC_BASE_URL: http://localhost:1111
      NEXTAUTH_SECRET: a-very-secret-and-long-string-for-casaos
      DATABASE_URL: postgresql://postgres:mysecretpassword@postgres:5432/postgres
    ports:
      - "1111:1111"
    x-casaos:
      architectures:
        - amd64
        - arm64
      main: blinko-website
      description:
        en_us: Blinko is a self-hostable, open-source, and end-to-end encrypted note-taking/journaling application.
        tr_tr: Blinko, kendi sunucunuzda barındırabileceğiniz, açık kaynaklı ve uçtan uca şifreli bir not alma/günlük tutma uygulamasıdır.
      tagline:
        en_us: Self-hostable, open-source, E2E encrypted note-taking app.
        tr_tr: Kendi kendine barındırılan, açık kaynaklı, E2EE not alma uygulaması.
      developer: "blinkospace"
      author: "canfiratx"
      icon: "https://raw.githubusercontent.com/blinkospace/blinko/main/public/logo-blinko.png"
      thumbnail: ""
      title:
        en_us: Blinko
      category: "Productivity"
      port_map: "1111"

  postgres:
    image: postgres:14
    container_name: blinko-postgres
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    volumes:
      - /DATA/AppData/blinko/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      interval: 5s
      timeout: 10s
      retries: 5
